body {
  padding-top: 70px;
}
.padding-left {
  padding-left: 30px;
}

a:hover {
  text-decoration: none;
}
.color-white {
  color: white;
}
.full-width {
  width: 100%;
}
.sw-90-width {
  width: 95%;
}
.sw-90-width {
  width: 95%;
}
.display-inline {
  display: inline;
}
.nav-heigth {
  padding-top: 15px;
  padding-bottom: 15px;
}
