body {
  padding-top: 70px;
  padding-bottom: 70px;
}
.padding-left {
  padding-left: 30px;
}

a:hover {
  text-decoration: none;
}
.color-white {
  color: white;
}
.color-black {
  color: black;
}
.full-width {
  width: 100%;
}
.sw-90-width {
  width: 90%;
}

.display-inline {
  display: inline;
}
.nav-heigth {
  padding-top: 15px;
  padding-bottom: 15px;
}
.topright {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}
img {
  width: 100%;
  height: auto;
  width: 250px;
  height: 250px;
}
